body,p,img,input{
  margin: 0;
  padding:0;
}
html,body{
  height: 100%;
  background-color: #f0eff5;
  text-align: center;
  position:relative;
}

#tuCaoPage{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;

  .adviseTitle{

    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.6rem;
    font-family: "Microsoft YaHei";
    color:#9799a3;

    margin-top: 1.5rem;
  }
  .adviseContent{
    width: 100%;
    height: 9.5rem;
    background-color: #ffffff;
    margin-top: 0.5rem;


    .adviseInput{
      margin: 0.7rem 0.7rem 0.3rem 0.7rem;
      width: 18.7rem;
      height: 8.5rem;
      color:#3b3c3e;
      font-size: 0.8rem;
      font-family: "Microsoft YaHei";

    }
  }
  .yourEmail{
    margin-top: 0.8rem;
    height: 3.5rem;
    width: 100%;
    background-color: #fff;
    .emailTitle{
      float: left;
      height: 3.5rem;
      width: 6rem;
      text-align: center;
      line-height: 3.5rem;
      margin-left: 1.3rem;
      color: #838587;
      font-size: 0.8rem;
      font-family: "Microsoft YaHei";

    }
    .emailInput{
      float:left;
      display: inline;
      width: 10.6rem;
      height: 2.5rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      font-family: "Microsoft YaHei";
      font-size: 0.8rem;
      color:#3b3c3e;
      line-height: 2.5rem;



    }
  }
  .erWeiMaTitle{
    height: 1rem;
    width: 100%;
    margin-top:1.8rem;
    color: #777983;
    font-size: 0.7rem;
    font-family:"Microsoft YaHei";
    text-align: center;
    line-height: 0.9rem;}


  .erWeiMa{
    width: 8.7rem;
    height: 8.7rem;
    background-color: #cccccc;
    margin-top: 0.75rem;

    text-align: center;
    margin-bottom: 4rem;
  }

  .send{
    height: 2.7rem;
    width: 100%;
    position: fixed;
    top: 100%;
    margin-top: -2.7rem;
    border: 1px solid #dbd7d7;
    .back{
      height: 2.7rem;
      width: 2.55rem;
      float:left;
      border-right: 1px solid #dbd7d7;
      img{
        width: 0.75rem;
        height: 1.5rem;
        margin-top: 0.6rem;

      }
    }
    .sendButton{
      float: left;
      height: 2rem;
      width: 16.5rem;
      border-radius: 1rem;
      background-color: #2fbf7a;
      margin-top: 0.35rem;
      margin-left: 0.3rem;

      text-align: center;
      color: #fff;
      line-height: 2rem;
      font-family: "Microsoft YaHei";
      font-size: 1rem;
      font-weight: bold;
      font-size: 0.6rem;
    }
    .sendButton:active{
      background-color: #209260;
    }



  }




}
