@import 'var';
$sideGap: 0.6rem;
#top{
	background-color: $green;
	color: #fff;
	padding: 0.6rem $sideGap;
	position: relative;
	overflow: hidden;
	line-height: 1em;
	min-height: 1em;
	#title{
		font-size: 0.7rem;
		font-weight: bold;
		//margin-top: 0.9rem;
	}
	#submit{
		position: absolute;
		right: 0;
		top: 0;
		color: #fff;
		height: 100%;
		font-weight: bold;
		font-size: 0.7rem;
		padding: $sideGap;
	}
	#submit:active{
		background-color: $greenClicked;
	}
}
#main{
	padding: 0 $sideGap;
	#input{
		margin-top: 0.5rem;
		font-size: 0.7rem;
		height: 8rem;
		width: 100%;
		line-height: 1.3em;
		padding: 0;
		text-indent: 0;
	}
	// #input::-webkit-input-placeholder {
	// 	color: #999;
	// }
	#qnCon{
		padding-bottom: 0.5rem;
		border-bottom: solid 1px $borderColor;
		.imgBlock{
			display: inline-block;
			vertical-align: top;
			width: 4rem;
			height: 4rem;
			margin-right: 0.6rem;
			margin-top: 0.6rem;
			position: relative;
			overflow: hidden;
			.text{
				position: absolute;
				display: none;
				left: 0;
				width: 100%;
				text-align: center;
				bottom: 0;
				font-size: 0.5rem;
				color: #fff;
				z-index: 6;
			}
			.delete{
				position: absolute;
				width: 0.4rem;
				padding: 0.2rem;
				right: 0rem;
				top: 0rem;
				background-color: $green;
				z-index: 10;
			}
			.progress{
				position: absolute;
				z-index: 5;
				display: none;
			}
		}
		.imgBlock.ing{
			.text{
				display: block;
			}
			.progress{
				display: block;
				width: 100%;
				left: 0;
				bottom: 0;
				background-color: $green;
			}
		}
		.imgBlock.empty{
			background-image: $addImg;
			background-size: 100% 100%;
		}
	}
	#location{
		//margin-top: 0.2rem;
		img{
			height: 0.7rem;
			margin: 0;
			vertical-align: middle;
		}
		span{
			font-size: 0.6rem;
			color: #9B9B9B;
			//margin-left: 0.5rem;
		}
	}
}