$green:#30BF78;

$greenClicked:#21A865;

$normalPlaceHolder:#ddd;

$warningPlaceHolder:red;

$tabHeight:2.5rem;

$footerHeight: 2.5rem;

$borderColor:#F0EFF5;

$tabZIndex:100;

$footerZIndex:200;

$shareZIndex:300;


$blue:#4a90e2;

$gray:#f0eff5;

$maskZIndex:250;

$shareZIndex:300;

$addImg:url(../img/common/add.png);

$femaleFlagImg:url(../img/guestInfo/femaleFlag.png);

$maleFlagImg:url(../img/guestInfo/maleFlag.png);

$kaoPuEmpty:url(../img/guestInfo/kaoPuEmpty.png);

$kaoPuFill:url(../img/guestInfo/kaoPuFill.png);

$maskBg:url(../img/actList/maskBg.png);

$grayBackArrow:url(../img/common/grayBack.png);

$greenClose:url(../img/common/greenClose.png);

$greenPlus:url(../img/common/greenPlus.png);

$whitePlus:url(../img/common/whitePlus.png);

$kaoPuMale:url(../img/friendCard/kaoPuMale.png);

$kaoPuFemale:url(../img/friendCard/kaoPuFemale.png);

$finished:url(../img/dating/finished.png);

$taskEdit:url(../img/dating/taskEdit.png);

$liked:url(../img/dating/liked.png);
